@model BlackSquares.Models.CreateMemeModel
@using System.IO;
@{
    ViewData["Title"] = "Создать мем";
    bool IsFormOk = Convert.ToBoolean(ViewData["IsFormOk"]);
    string ImageUrl = $"/images/uploads/{ViewData["ImageFullPath"]}";
    string MemeTemplateUrl = System.IO.Path.Combine("images", "meme_template.jpg");
}

@section ExtraStyles{
    <link rel="stylesheet" href="~/css/form-styles/forms.css" asp-append-version="true" />
}

<h4>Создание мема</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group field_wrapper my-3">
                <input asp-for="MainText" class="form-control field__input" placeholder="@Html.DisplayNameFor(f => f.MainText)" />
                <label asp-for="MainText" class="control-label field__label">@Html.DisplayNameFor(f => f.MainText)</label>
                <span asp-validation-for="MainText" class="text-danger"></span>
            </div>
            <div class="form-group field_wrapper my-3">
                <input asp-for="ExtraText" class="form-control field__input" placeholder="@Html.DisplayNameFor(f => f.ExtraText)" />
                <label asp-for="ExtraText" class="control-label field__label">@Html.DisplayNameFor(f => f.ExtraText)</label>
                <span asp-validation-for="ExtraText" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" accept="images/*" required/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mb-3" />
            </div>
        </form>
        @if (IsFormOk)
        {
            <div class="meme_result__wrapper mb-3">
                <p>Результат:</p>
                <div class="meme_result_image">
                    <img src="~/images/loading.gif" width="32" height="32" id="loadingIcon" />
                    <canvas id="memeResultCanvas" width="593" height="397" style="display: none;"></canvas>
                </div>
            </div>
        }
    </div>
</div>

<div>
    <img src="~/images/create_meme_example.png" class="img-fluid border rounded border-dark mb-3" />
    <p><a asp-action="Start">Вернуться на главную</a></p>
</div>

@section ExtraScripts {
    <script src="~/js/ts-compiled/createMemeScript.js" innerImageUrl="@ImageUrl" wrapperImageUrl="@MemeTemplateUrl"></script>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
